.footer {
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.25);
background: var(--white);
}

.footer__container {
  position: relative;

}

.footer__inner-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 60px 0;
  position: relative;
  

  
}
.footer__menu {
}
.footer__item {
  font-weight: 400;
  font-size: 14px;
  color: var(--txt-black);
  margin-bottom: 4px;
  
}

.footer__item:hover, .footer__item:focus, .footer__item:active {
color: var(--new-main);;
}
.item-title {
  font-weight: 600;
font-size: 14px;
  color: var(--txt-black);
  margin-bottom: 16px;
  
}
.footer__link {
}
.item-subtitle {
  font-weight: 600;
font-size: 14px;
  color: var(--txt-black);
  margin-top: 16px;
}

.footer-linie {
  height: 1px;
  background: var(--gray);
}
.footer__inner-bottom {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__inner-bottom--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.footer__inner-bottom--lisense {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer__inner-bottom--img {
  
  width: 50px;
  
}
.footer__inner-bottom--img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__inner-bottom--text {
}
.footer__text {
  font-weight: 400;
font-size: 13px;
color: var(--gray);
}
.footer__text--light {
  font-weight: 400;
font-size: 13px;
color: var(--ligth-gray);
 
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer-menu--grade {
  text-align: center;
}
.footer__inner-bottom--right {
  width: 253px;
  align-self: center;
}
.footer__title {
  text-align: center;
  margin-bottom: 10px;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.footer__socials-item {
  display: block;
  width: 25px;
  height: 25px;
}
.footer__socials-item:hover path {
  fill: var(--new-main);
}
.footer__socials-item:active path {
  fill: var(--new-main);
}


.footer__menu1279 {
  display: none;
}
.footer__burger-menu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 152px;
  z-index: 500;

}



.footer-menu__detail {
  width: 40px;
  height: 23px;
  position: absolute;
  bottom: -23px;
  left: 15px;
}

.footer-menu__cross {
  width: 40px;
  height: 40px;  
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  background: url('../img/cross.png');
  background-repeat: no-repeat;
}
.footer-menu__cross:hover {
  background: url('../img/cross__hover.png');  
}
.footer-menu__cross:active {
  background: url('../img/cross__active.png') no-repeat;
  
}

.footer-burger__button {
  width: 100%;
  border: 1px solid var(--new-main);
  border-radius: 6px;
  padding: 14px 10px;
  width: 256px;
  height: 74px;
  
}

.footer-burger__button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  
}
.footer-burger__button.active {
  color: #fff;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--new-main);
}

.footer-burger__button.active svg line{
  fill: #fff;
  stroke: #fff;
}


.footer__popup {
  display: none;
  position: absolute;
  left: 0;
  top: -50%;
  width: 160px;
  
  z-index: 600;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.footer__popup-inner {
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 650;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--white);
  border-radius: 6px;

}
.footer__popup-list {
}
.footer__popup-item {
  font-weight: 400;
font-size: 14px;
margin-bottom: 4px;
}

.footer__popup-item:hover, .footer__popup-item:focus, .footer__popup-item:active{
  cursor: pointer;
  color: var(--new-main);
}
.footer__popup-link {
}
.footer__popup-button {
  width: 40px;
  height: 40px;  
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  background: url('../img/cross.png');
  background-repeat: no-repeat;
}

.footer__popup-button:hover {
  background: url('../img/cross__hover.png');  
}
.footer__popup-button:active {
  background: url('../img/cross__active.png') no-repeat;
  
}
.footer-svg {
  fill: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer__popup.active {
  display: block;
  
}

.footer__burger-menu.active {
  display: block;
  
}


