html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark-blue: #3f4f5b;
  
    --blue: #0096a5;
    --denta2: #b6e4e9;
    --brigh-blue: #6fadf6;
    --light-blue: #cfe5ff;
    --green: #00b57e;
    --light-green: #d6ffda;
    --light-rose: #ffebf2;
    --rose: #ffb2cd;
    --dental-fitmennyi: #009dae;
    --20: rgba(182, 228, 233, 0.2);
    --transparent-20-blue: rgba(207, 229, 255, 0.2);
    --transparent-20-green: rgba(214, 255, 218, 0.2);
    --transparent-20-rose: rgba(255, 235, 242, 0.2);
    --gradient-green: #000;
    --red: #f55;
    --ligth-gray: #d7d7d7;
    --txt-black: #001517;
    --light-gray: #ddded9;
    --gray: #a4a899;
    --new-main: #00b9cb;
    --dark-main: #0096a5;
    --accent-1: #55ff80;
    --accent-red: var(--red);
    --white: #fff;
  
  
  
  /* --h1-title: 28px; */
  --h1-title: calc(18px + 12 * (100vw - 320px) / 1600);
  --font-family: "Open Sans", sans-serif;
  --second-family: "Play", sans-serif;
  
}

body {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-black);
  margin: 0;
  padding: 0;
  background-color: #fff;
  
  
}

/* ------------------------Служебные классы------------------------------- */

.container {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
/* .burger {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
}

.burger__line {
  height: 4px;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: #fff;
  transition: transform ease 0.5s, top ease 0.5s;
  -webkit-transition: transform ease 0.5s, top ease 0.5s;
  -moz-transition: transform ease 0.5s, top ease 0.5s;
  -ms-transition: transform ease 0.5s, top ease 0.5s;
  -o-transition: transform ease 0.5s, top ease 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.burger__line:first-child {
  top: 0;
}

.burger__line:last-child {
  top: calc(100% - 2px);
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger--active .burger__line:nth-child(2) {
  transform: scale(0);
}

.burger--active .burger__line:first-child {
  top: 50%;
  transform: rotate(45deg);
}
.burger--active .burger__line:last-child {
  top: 50%;
  transform: rotate(-45deg);
} */

.ramka {
  height: 100%;
  background: var(--white);
  border: 1px solid var(--ligth-gray);
  border-radius: 12px;
  padding: 30px;
 
}
.title {
  font-weight: 600;
  font-size: 24px;
  
color: var(--txt-black);  
}
.list {
  font-size: var(--h1-list);
}
.list-item {
  /* font-size: 16px; */
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-blue);
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  width: 100%;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url("../img/image.png");
}
.list-item:last-of-type {
  margin-bottom: 0;
}

.list-item--galka {
  font-size: var(--text-galka);
  font-weight: 500;
  position: relative;
  padding-left: 30px;
  line-height: 1.5;
}

.list-item--galka::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 11px;
  background: url("../img/galka.png");
}

.button {
  background: linear-gradient(
    90deg,
    #827d6a 0%,
    #d4d4d4 28%,
    #827d6a 52%,
    #d4d4d4 76%,
    #827d6a 100%
  );
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.button:hover,
.button:focus,
.button:active {
  
  background: linear-gradient(
    90deg,
    #171613 0%,
    #686868 28%,
    #3a382f 52%,
    #6f6f6f 76%,
    #34322b 100%
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stop-scroll {
  overflow: hidden;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
