@media (max-width: 1279px) {
  .article__text {
    max-width: 690px;
  }
  .article__text--last {
    max-width: 690px;
  }
  .article__img {
    max-width: 690px;
  }
  .article__title {
    max-width: 840px;
  }
}
@media (max-width: 959px) {
  .article__text {
    max-width: 648px;
  }
  .article__text--last {
    max-width: 648px;
  }
  .article__img {
    max-width: 648px;
  }
  .article__title {
    max-width: 648px;
  }

}
@media (max-width: 767px) {
  .ramka-0 {
    border: none;
    padding: 0;
  }
}
@media (max-width: 479px) {}
  