.specialists {
}

.specialists__inner {
  margin-bottom: 70px;
}
.specialists__inner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.specialists__inner-wrap {
  position: relative;
}
.reviews__top--title {
  margin-bottom: 28px;
}

.specialists__buttons {  
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  height: 50px;
  z-index: 150;
}
.specialists__button {
  display: inline-block;
  margin-left: 22px;
  border: 1px solid var(--new-main);
  border-radius: 12px;
  width: 50px;
  height: 50px;
  position: relative;
}
.specialists__button svg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.specialists__button:hover {
  background: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.specialists__button:active {
  background: var(--white);
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  
}

.specialists__inner-card {
  display: flex;
  flex-direction: column;
}
.specialists__inner-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.specialists__inner-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specialists__inner-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: var(--txt-black);
  margin-bottom: 10px;
}

.specialists__inner-subtitle:hover, .specialists__inner-subtitle:focus, .specialists__inner-subtitle:active {
  color: var(--new-main);
}
.specialists__inner-linie {
  height: 2px;
  width: 100%;
  background-color: var(--new-main);
  margin-bottom: 9px;
}
.specialists__inner-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-black);
}
